test/

autom4te.cache
aclocal.m4
compile
config.h.in
depcomp
install-sh
missing
config.h
config.log
config.status
stamp-h1
configure
configure~

!src/config/config.h

**/.dirstamp
**/.deps/

**/Makefile
**/Makefile.in
